@model IEnumerable<NabilApp.Models.Dish>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Menu</h2>

@if (!Model.Any())
{
    <p>Nie mamy jeszcze żadnych dań w naszej karcie</p>
}
else
{
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model)
            {
                <tr>
                    <td> @dish.Id</td>
                    <td>@Html.ActionLink(dish.Name, "Details", "Dishes", new { id = dish.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}